* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.container {
  margin: auto;
  /* no scroll bars even if container breaks */
  overflow: hidden;
  width: 80%;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#navbar {
  background-color: #333;
  color: #fff;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

/* make list items horizontal (was block/ vertical */
#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  font-size: 18px;
  padding-right: 15px;
  text-decoration: none;
}

#showcase {
  background-image: url('../img/showcase.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  /* height will grow if content needs more */
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main {
  float: left;
  padding: 0 30px;
  width: 70%;
}

#sidebar {
  background: #333;
  color: #fff;
  float: right;
  padding: 0 30px;
  width: 30%;
}

#main-footer {
  background: #333;
  color: #fff;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

/* MEDIA QUERIES */

/* Screens smaller than 960px wide */

@media (max-width: 960px) {
  #main {
    width: 100%;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
  }
}
