/* globals */
* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

/* Main Elements */

body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

footer {
  background-color: #000;
  color: #fff;
  margin-top: 30px;
  padding: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: purple;
}

.container {
  margin: auto;
  width: 80%;
}

/* Course Notes  */

.box-1 {
  background-color: #000;
  border: 5px red solid;
  color: #fff;
  margin-top: 20px;
  padding: 20px;
  float: left;
  width: 50%;
}

.box-1a {
  margin-top: 20px;
  padding: 20px;
  float: right;
  width: 50%;
}

.box-1a img {
  height: 200px;
}

.box-1 h1 {
  font-family: Tahoma;
  font-style: italic;
  font-weight: 800;
}

.box-2 {
  border: 3px dotted #ccc;
  margin: 20px 0;
  padding: 20px;
}

.categories {
  border: 1px #ccc solid;
  border-radius: 15px;
  padding: 10px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  list-style: none;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
}

/* Form */

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type='text'],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

/* .my-form input[type='submit'] { */
.button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 15px;
}

.button:hover {
  background-color: red;
  color: #fff;
}

/* Float Section */

.block {
  /* box-sizing: border-box; */
  border: 1px solid #ccc;
  float: left;
  padding: 10px;
  width: 33.3%;
}

#main-block {
  box-sizing: border-box;
  float: left;
  padding: 15px;
  width: 70%;
}

#sidebar {
  background-color: #333;
  /* box-sizing: border-box; */
  color: #fff;
  float: right;
  padding: 15px;
  width: 30%;
}

/* Positioning */

.positioning-box {
  background-image: url('../img/bgimage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #000;
  height: 500px;
  margin-top: 30px;
  width: 800px;
}

/* Fixed button example */

.fix-me {
  position: fixed;
  top: 400px;
}

/* PSEUDO CLASSES */

.my-list li {
  color: #fff;
}

.my-list li:first-child {
  background: red;
}

.my-list li:last-child {
  background: blue;
}

.my-list li:nth-child(5) {
  background: green;
}

.my-list li:nth-child(even) {
  background: black;
}
